<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:p="http://www.springframework.org/schema/p"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean name="address" class="com.kw.spring_core.ref.Address">
		<property name="id" value="101"></property>
		<property name="city" value="Kanpur"></property>
	</bean>
    
    <bean name="st1" class="com.kw.spring_core.ref.Student">
		<property name="id">
			<value>101</value>
		</property>
		<property name="name">
			<value>Dharmendra</value>
		</property>
		<property name="address">
			<ref bean="address"/>
		</property>
	</bean>
	
	
</beans>